* {
  padding: 0;
  margin: 0;
  color: #000000;
  list-style-type: none;
}

html {
  font-family: Roboto, sans-serif;
  font-size: 2em;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
}

.cells {
  width: 10em;
  height: 10em;
  background-color: #494949;
}

ul {
  background-color: #c9c9c9;
  display: flex;
  justify-content: space-between;
  height: 33.33333333%;
}

li {
  width: 33.33333333%;
}

.border_bot {
  border-bottom: 0.25vw solid;
  box-sizing: border-box;
}

.border_top {
  border-top: 0.25vw solid;
  box-sizing: border-box;
}

.border_left {
  border-left: 0.25vw solid;
  box-sizing: border-box;
}

.border_right {
  border-right: 0.25vw solid;
  box-sizing: border-box;
}

.cross {
  background: url(../images/cross.png) no-repeat;
}

.circle {
  background: url(../images/circle.png) no-repeat;
}

.cross,
.circle {
  background-size: 90% 90%;
  background-position: center;
}